<h1>Add a Place</h1>

<form action="/places" method="post">

  <div>
    <label for="place_name">Place Name</label>
    <input type="text" id="place_name" name="name">
  </div>

  <button type="submit">Create</button>
  
</form>
