<h1><%= @place.name %></h1>

<% @entries.each do |entry| %>
  <h2><%= entry.title %></h2>
  <p>Posted on: <%= entry.posted_on %></p>
  <p>Description: <%= entry.description %></p>
<% end %>

<p>
  <a href="/entries/new">Add New Post</a>
</p>

<p>
  <a href="/places">Back to Places Overview</a>
</p>
